<div class="tickets">
    <div>
        
        <input id="queryBox" type="text" [(ngModel)]="queryValue" placeholder="Filter on Username">
        <label for= "queryBox"><button class="searchbutton" (click)="sendQuery()">Search</button></label>
    </div>
    <ul>
        <li class="texts" *ngFor="let student of studentList">
            <h1>From: {{student.name}}</h1>
            <p>Device: {{student.number}}</p>
            <button 
                [ngClass]="{
                    'unvisited': irs.readTickets.indexOf(student.id) === -1,
                    'active': student.id === activeChat
                }"
                (click)="openChat(student.id)"
            >Chatroom</button>
        </li>
    </ul>
</div>

<div class="chat" style="height: 100%; width: 100%; z-index: 999;">
    <div *ngIf="activeChat" style="height: 100%; width: 100%;">
        <ul>
            <li class="chatMessages" *ngFor="let message of getStudentById(activeChat)?.messages"
            [ngClass]="{
                'recieved': message.incoming
            }">
                <p>{{message.messageBody}}</p>
                <p style="text-decoration: underline;">Sent at: {{formatDate(message.timeStamp)}}</p>
                <div *ngIf="message.location && message.location.length">
                <a [routerLink]="'/map/' + encodeURIComponent(message.location)" style="color: darkblue;">Visit Location</a>
                </div>
            </li>
        </ul>
        <div class="input">
            <input matInput id="textBox" type="text" [(ngModel)]="inputValue" placeholder="Please enter message here.">
    
            <label for="textBox"><button (click)="sendChat()" mat-icon-button><mat-icon>send</mat-icon></button></label>
            
        </div>
    </div>
</div>


