
   
<button mat-button><fa-icon
[icon]="faUserShield"
type="button"
class="nav-button"
(click)="showMenu()"
>User</fa-icon></button>
<mat-label>User</mat-label>
<div
class="popover-menu"
[ngClass]="{'active': popoverOpen}"
>
<div
class="popover-menu2"
[ngClass]="{'active2': popover2Open}"
>
<div>
    <mat-card>
    <button class="menuClose"
    (click)="closeMenu()" mat-button
    ><mat-icon>close</mat-icon></button>
    <mat-card-subtitle><mat-icon>account_circle</mat-icon>Current User:</mat-card-subtitle>
    <mat-card-title>Dispatch</mat-card-title>
    <button class="helpOpen"
    (click)="helpMenu()" mat-button
    >Help<mat-icon>help</mat-icon></button>
    </mat-card>

    
</div>
</div>
</div>
