<button mat-icon-button aria-label="users" 
    type="button"
    class="nav-button"
    (click)="showMenu()"
><mat-icon>account_circle</mat-icon></button>
<div
    class="popover-menu"
    [ngClass]="{'active': popoverOpen}"
>
    <div
    class="popover-menu2"
    [ngClass]="{'active2': popover2Open}"
    >
        <div>
            <button class="menuClose"
            (click)="closeMenu()"
            >X</button>
            <p>Current User:</p>
            <p>Dispatch</p>

            <button class="helpOpen"
            (click)="helpMenu()"
            >Help</button>
        </div>
    </div>
</div>
