:host {
    fa-icon {
        transform: scale(2);
        color: black;
    }
    mat-label{
        text-align: center;
        margin-left: 2vh;
    }
        position: relative;
        .popover-menu {
            background-color: white;
            z-index: 999;
            
            
            &:not(.active) {
                display: none;
            }
            
            &.active {
                position: fixed;
                margin-left: 6vh;
                margin-bottom: 7vh;

                width: 140px;
                height: 140px;
                border: 1px solid black;
                border-radius: 30px;
                box-shadow: darkgrey 1px 1px 1px 1px;
            }
        .popover-menu2 {
            background-color: whitesmoke;
            z-index: 1000;

            .helpOpen {
                margin-left: 2vh;
                margin-bottom: auto;
                background-color: steelblue;
                color: whitesmoke;
            }
            .menuClose{
                margin-left: 5vh;
            }
            mat-card{
                background-color:whitesmoke;
                

            }
            fa-icon{
                color:black;
            }
        
        }
    }
}