:host {
    fa-icon {
        transform: scale(2);
        color: black;
    }
    mat-label{
        text-align: center;
        margin-left: 1vh;
        color: black;
    }
        position: relative;
        .popover-menu {
            //background-color: rgba(224, 224, 224, 0.4);
            z-index: 999;
           display: flex;
            
            
            &:not(.active) {
                display: none;
            }
            
            &.active {

                position: absolute;
                //margin-top: 40vh;
                

                margin-left: 10vh;
                text-align: center;
                width: 140px;
                height: 140px;
                //box-shadow: 8px 15px darkgrey;
                border-style: 1px black;
                //margin-bottom: 50%;

                
            }
        .popover-menu2 {
            //background-color:rgba(224, 224, 224, 0.4); ;
            z-index: 1000;
            margin-bottom: 50%;

            .helpOpen {
                //margin-left: 2vh;
                margin-bottom: auto;
                background-color: #000;
                color: whitesmoke;
            }
            .menuClose{
                margin-left: 5vh;
            }
            mat-card{
                background-color:lightgrey ;
                border: black;
                width: auto;
                height: auto;
                position: fixed;
                top: 288px;
                

                box-shadow: 4px 4px 3px steelblue;
            }
            fa-icon{
                color:black;
            }
        
        }
    }
}