$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
main {
    background-image: url('../assets/sersbackdrop.jpeg');
    background-repeat: no-repeat;
    //background-size: 100%;
    background-size: 100vw 100vh;
    max-width: 100%;
    
    height: 100%;
    
    display: flex;
    > * {
        height: 100%;
    }
    aside {
        flex: 1;
        background-color: steelblue;
        border: 1px solid black; 
        .menuOptions {
            display: flex;
            flex-direction: column;
            > div {

                
                //flex: 1;
                fa-icon {
                    transform: scale(2);
                }
            }
        }
    }

    .tickets {
        flex: 4;
        background-color: darkgrey;
    }

    .ticketComponent{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .chats {
        flex: 4;
        background-color: darkgrey;
    }
    .chatComponent{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}
    body {
        background-image: url('../assets/sersbackdrop.jpeg');
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        width: 82.5%;
        max-width: 100%;
        height: 100%;
    }
    
    #student {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 33%;
        text-align: center;
        margin-left: 33.5%;
        margin-right: 33.5%;
        color: black;
    }
    
    .main {
        height: auto;

        .loginForm {
            position: absolute;
            right: auto;
            top: 30%;
            width: auto;
            border-radius: 25px;
            padding-bottom: 2%;
            width: 33%;
            margin-left: 33.5%;
            margin-right: 33.5%;
            height: auto;
            border: 2px solid black;
            background-color: rgba(224, 224, 224, 0.4);
            text-align: center;
        }
    }

    .sidenav {
      height: 100%;
      width: 17.5%;
      max-width: 20vw;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: steelblue;
      border: 1px solid black;
      overflow-x: hidden;
      padding-top: 60px;
  }
    
     .logo-image{
        width: 20vw;
        height: 30vh;
        overflow: hidden;
        margin-top: -6px;
        margin-left: -20px;
        z-index: 2;
        display: block;
        align-content: center;
    }
    fa-icon{
        color:black;
    }
    mat-label{
        
        margin-left: 2vh;
    }

    .logo{
        //position: absolute;
        display: block;
        bottom: 0%;
        position: fixed;
        overflow: hidden;
        width: 50px;  
        height: 10vh;
        margin-left: 1%;
        padding-left:2px ;
        overflow: hidden;
        transform: scale(2);
        align-content: center;
        color: black;

    }
    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        /* Smartphones (landscape) ----------- */
        @media only screen and (min-width : 321px) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 320px) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        /* iPads (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        /* iPads (landscape) ----------- */
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        /* iPads (portrait) ----------- */
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        /**********
        iPad 3
        **********/
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        /* Desktops and laptops ----------- */
        @media only screen  and (min-width : 1224px) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        /* Large screens ----------- */
        @media only screen  and (min-width : 1824px) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        /* iPhone 4 ----------- */
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }
        
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        /* Styles */
        body{
            max-width: 100%;
            width: 100%;
        }
        .sidenav{
            width: 17.5%;
            max-width: 17.5%;
        }
        }


