<ng-container *ngIf="isLogin; else home">
  <body>    
    <div class="main">
      <!-- <div id='firebaseui-auth-container'>

      </div> -->
      
      <div class="logobox">

    </div>
     
      <div class="loginForm">
        <header><h1 id="student">Welcome to SERS</h1></header>
        <label for="username"><b>Username: </b></label>
        <input [(ngModel)]="usernameValue" id="username" placeholder="Enter Username" name="uname" required>
        <br>

        <label for="password"><b>Password:</b>  </label>
        <input [(ngModel)]="passwordValue" id="password" type="password" placeholder="Enter Password" name="pwd" required>
        <br>
        <button type="submit" value='login' (click)="login()"  mat-button>Signin<mat-icon>verified_user</mat-icon></button>
        

      </div>
      <img src="../assets/bg.png" class="bglogo" alt="SERS brand photo" style="bottom: 0; right: 0; position: fixed; height: 20vh; width: 30vw; z-index: 1; margin-bottom: 5%"></div>
  
   

    <div class="sidenav">
        <a class="navbar-brand" href="/">
          <div class="logo-image">
                <img src="../assets/shield.png" class="img-fluid" alt="SERS brand">
          </div>
        </a>
    </div>
</body>
</ng-container>

<ng-template #home>
  
  <main>
    <img src="../assets/bg.png" alt="SERS" class="bglogo" style="bottom: 0; right: 0; position:fixed; z-index: 1; height: 20vh; width: 30vw; margin-bottom: 5%; ">
  
      <aside>
          <div class="menuOptions" style="height: 100%; width: 100%;">
            <div>
             <button mat-button> <fa-icon class="nav-button" [icon]="faComments" routerLink="/tickets" aria-label="chat button">Chat</fa-icon><span class="buttontext">Chat</span></button>
              <mat-label> Messages</mat-label>
            </div>
            <div>
              <button mat-button><fa-icon id="mapicon" class="nav-button" aria-label="chat button" [icon]="faLocationArrow" routerLink="/map">Locate</fa-icon><span class="buttontext">Location</span></button>
              <mat-label>Location</mat-label>
            </div>
            
      
            <div>
              <button mat-button><fa-icon class="nav-button" aria-label="chat button" [icon]="faFolder" routerLink="/reports">Reports</fa-icon><span class="buttontext">Reorts</span></button>
              <mat-label>Reports</mat-label>
            </div>
            <div>
                <app-user-menu></app-user-menu>
            </div>
            <div>
              <button mat-button><fa-icon class="nav-button" aria-label="chat button" [icon]="faSignOutAlt" (click)="logout()">Logout</fa-icon><span class="buttontext">Logout</span></button>
              <mat-label>Signout</mat-label>
            </div>
            <div class="logo">
              <h1><img src="../assets/logo.png" class="img-fluid" alt="SERS brand"></h1>

            </div>
          </div>
      </aside>
    
      <div style="height: 100%; width: 100%;">
        <router-outlet></router-outlet>
      </div>
      
  </main>
</ng-template>
