<ng-container *ngIf="isLogin; else home">
  <body>    
    <div class="main">
      <!-- <div id='firebaseui-auth-container'>

      </div> -->
      <div class="loginForm">
        <h2 id="student">Welcome to SERS</h2>
        <label for="uname"><b>Username: </b></label>
        <input [(ngModel)]="usernameValue" id="username" placeholder="Enter Username" name="uname" required>
        <br>
        <label for="pwd"><b>Password: </b></label>
        <input [(ngModel)]="passwordValue" id="password" type="password" placeholder="Enter Password" name="pwd" required>
        <br>
        <button type="submit" value='login' (click)="login()">Sign In</button>
      </div>
    </div>

    <div class="sidenav">
        <a class="navbar-brand" href="/">
          <div class="logo-image">
                <img src="../assets/shield.png" class="img-fluid" alt="Silent Emergency Response System Logo">
          </div>
        </a>
    </div>
</body>
</ng-container>

<ng-template #home>
  <main>
      <aside>
          <div class="menuOptions">
          <div>
            <fa-icon class="nav-button" [icon]="faComments" routerLink="/tickets"></fa-icon>
          </div>
          <div>
            <fa-icon class="nav-button" [icon]="faMapMarkerAlt" routerLink="/map">Locate</fa-icon>
          </div>
          <div>
            <fa-icon class="nav-button" [icon]="faFolder" routerLink="/reports">Reports</fa-icon>
          </div>
          <div>
              <app-user-menu></app-user-menu>
          </div>
          <div>
            <fa-icon class="nav-button" [icon]="faSignOutAlt" (click)="logout()">Logout</fa-icon>
          </div>
          </div>
      </aside>
    
      <div>
        <router-outlet></router-outlet>
      </div>
  </main>
</ng-template>
