/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    background-color: darkgray;
    margin: 0;
    background-image: url('/src/assets/sersbackdrop.jpeg');
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

fa-icon, .nav-button {
    display: block;
    width: auto;
    height: auto;
    color: whitesmoke;
    margin: 20px; 

}
